.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.modal-content > .synopsis {
    max-width: 410px;
}

.synopsis > .title {
    font-weight: bold;
    font-size: 28px;
}

.synopsis > .content {
    font-size: 18px;
    line-height: 25px;
}