.search-form {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-first);
    padding: 3px 0 8px;
    max-width: 350px;
    position: relative;
}

.search-form > .error {
    display: none;
    position: absolute;
    top: -15px;
    left: 40px;
    color: var(--color-second);
    font-weight: bold;
    font-size: 12px;
}

.search-form > .field {
    font-family: inherit;
    font-size: 13px;
    padding: 0 5px;
    width: 308px;
    height: 37px;
    border: 3px solid var(--color-third);
    box-shadow: 4px 4px 0px var(--color-black-second);
}

.search-form > .action {
    border: 3px solid var(--color-third);
    margin-left: 10px;
    cursor: pointer;
    padding: 0 2px;
    transition: transform 500ms ease-in-out;
    box-shadow: 4px 4px 0px var(--color-black-second);
}

.search-form > .action:hover {
    transform: scale(1.08);
}